{% extends "index_base.html" %}
{% load comments %}
{% load markup %}

{% block content-body %}
            {% block content-main %}
            <main class="col-md-8">


                    {% for blog in blogs %} 
                        <article class="post post-1">
                            <header class="entry-header">
                                <h1 class="entry-title">
                                    <a href="{% url 'detailblog' blog.id %}">{{ blog.caption }}</a>
                                </h1>
                                <div class="entry-meta">
                                    <!-- <span class="post-category"><a href="#">Web Design</a></span> -->
                                    <p class="muted">  
                                        {% for tag in blog.tags.all %}
                                        <i class="post-category"></i>  <small>分类标签：{{ tag }}</small>
                                        {% endfor %}
                                    </p> 
                                    <span class="post-author"><a href="#">作者：{{ blog.author }}</a></span>
                                    {% get_comment_count for blog as comment_count %}
                                    <span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09 23:15">时间：{{ blog.publish_time|date:"Y年m月d日 H:i" }}</time></a></span>
                                    <span class="post-read"><a href="#">{{ blog.read_num }}阅读</a></span>
                                    <span class="comments-link"><a href="">评论：{{ comment_count }}</a></span>
                                </div>
                            </header>
                            <div class="entry-content clearfix">
                                <p>{{ blog.content|markdown:'codehilite'|striptags|safe|truncatechars:100 }}</p>
                                <div class="read-more cl-effect-14">
                                    <a href="{% url 'detailblog' blog.id %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                                </div>
                            </div>
                        </article>
                        {% endfor %}

                <article class="post post-2">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="single.html">Django 博客开发入门教程：前言</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">Django 博客教程</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>
                            <span class="post-author"><a href="#">追梦人物</a></span>
                            <span class="comments-link"><a href="#">4 评论</a></span>
                            <span class="views-count"><a href="#">588 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>免费、中文、零基础，完整的项目，基于最新版 Django 1.10 和 Python 3.5。带你从零开始一步步开发属于自己的博客网站，帮助你以最快的速度掌握 Django
                            开发的技巧...</p>
                        <div class="read-more cl-effect-14">
                            <a href="#" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>

                <article class="post post-3">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="single.html">Django 博客开发入门教程：前言</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">Django 博客教程</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>
                            <span class="post-author"><a href="#">追梦人物</a></span>
                            <span class="comments-link"><a href="#">4 评论</a></span>
                            <span class="views-count"><a href="#">588 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>免费、中文、零基础，完整的项目，基于最新版 Django 1.10 和 Python 3.5。带你从零开始一步步开发属于自己的博客网站，帮助你以最快的速度掌握 Django
                            开发的技巧...</p>
                        <div class="read-more cl-effect-14">
                            <a href="#" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>

                <article class="post post-4">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="single.html">Django 博客开发入门教程：前言</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">Django 博客教程</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>
                            <span class="post-author"><a href="#">追梦人物</a></span>
                            <span class="comments-link"><a href="#">4 评论</a></span>
                            <span class="views-count"><a href="#">588 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>免费、中文、零基础，完整的项目，基于最新版 Django 1.10 和 Python 3.5。带你从零开始一步步开发属于自己的博客网站，帮助你以最快的速度掌握 Django
                            开发的技巧...</p>
                        <div class="read-more cl-effect-14">
                            <a href="#" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>

                <div>
                    <span class="blog_footer_tip">
                        共{{pages.count}}篇博文。当前第{{blogs.number}}页，共{{pages.num_pages}}页
                    </span>
    
                    <ul class="pagination">
                        {# 上一页，这里需要用到has_previous方法判断是否有上一页 #}
                        <li>
                            <a href="?page=
                                {% if blogs.has_previous %}
                                    {{blogs.previous_page_number}}
                                {% else %}
                                    {{blogs.number}}
                               {% endif %}
                            " aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
 
                        {# 遍历所有页码 #}
                        {% for page in pages.page_range %}
                            <li><a href="?page={{page}}">{{page}}</a></li>
                        {% endfor %}
 
                        {# 下一页，这里需要用到has_next方法判断是否有下一页 #}
                        <li>
                            <a href="?page=
                                {% if blogs.has_next %}
                                    {{blogs.next_page_number}}
                                {% else %}
                                    {{blogs.number}}
                                {% endif %}
                            " aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
 
                {% block extra_footer %}
                    {#设置凸显当前的页码#}
                    <script type="text/javascript">
                        $(".pagination li:eq({{blogs.number}})").addClass("active");
                    </script>
                {% endblock %}

            </main>
            {% endblock %}

            {% block aside %}
            <aside class="col-md-4">
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    <ul>
                        <li>
                            <a href="#">Django 博客开发入门教程：前言</a>
                        </li>
                        <li>
                            <a href="#">Django 博客使用 Markdown 自动生成文章目录</a>
                        </li>
                        <li>
                            <a href="#">部署 Django 博客</a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    <ul>
                        <li>
                            <a href="#">2017 年 5 月</a>
                        </li>
                        <li>
                            <a href="#">2017 年 4 月</a>
                        </li>
                        <li>
                            <a href="#">2017 年 3 月</a>
                        </li>
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>
                        <li>
                            <a href="#">Django 博客教程 <span class="post-count">(13)</span></a>
                        </li>
                        <li>
                            <a href="#">Python 教程 <span class="post-count">(11)</span></a>
                        </li>
                        <li>
                            <a href="#">Django 用户认证 <span class="post-count">(8)</span></a>
                        </li>
                    </ul>
                </div>


                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    <ul>
                        {% for tag in tags %}
                        <li>
                            <a href="{% url 'filtrblog' tag.id %}">{{ tag }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
            </aside>
            {% endblock %}

{% endblock %}



{% block footer %}
{# 任何每个页面都可能修改的文本区域的页脚 #}
<footer id="site-footer">
    <div>
        <div class="well well-sm">
            <div style="text-align:center;">
                <a href="/aboutus/disclaimer.html">免责声明</a> |
                <a href="/about">关于我们</a>
            </div> 
            <div>
                本站非盈利站点，提供的内容仅用于个人学习及练习，我不能保证内容一定正确。通过使用本站进行学习随之而来的风险与本站无关。当使用本站时，代表您已接受了本站的使用条款和隐私条款。 版权所有，保留一切权利。所有内容仅供测试，是以学习知识和分享知识为目的，对任何法律问题及风险不承担任何责任。
            </div>
            <div style="padding-top:10px; text-align: center">
                      本站采用<a href="https://www.djangoproject.com/" target="_blank" rel="nofollow">Django</a>技术开发的站点，托管在<a href="http://bce.baidu.com/" target="_blank" rel="nofollow">百度开放云</a>平台<br>
                      Copyright &copy; 2017 Powered by python学习 All Rights Reserved.
                <a href="http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank">苏ICP备***号-1</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}