{% extends "page_base.html" %}
{% load comments %}
{% load markup %}

                {% block menu %}
                {# 网页 模式下的  菜单 #}
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="/" data-hover="首页">首页</a></li>
                            <li class="cl-effect-11"><a href="/sblog/bloglist/" data-hover="博客">博客</a></li>
                            <li class="cl-effect-11"><a href="{% url 'addblog' %}" data-hover="新增">新增</a></li>
                            <li class="cl-effect-11"><a href="/user/user_info" data-hover="我的">我的</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                {% endblock %}



{% block body_id %}
    <body>
{% endblock %}


{% block content-body %}

{% endblock %}


{% block mobile_menu %}
{# 手机模式时的 menu #}
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/sblog/bloglist/">博客</a></li>
            <li><a href="{% url 'addblog' %}">新增</a></li>
            <li><a href="/single">博客明细</a></li>
            <li><a href="/user/user_info">我的</a></li>
        </ul>
    </nav>
</div>
{% endblock %}