{% extends "blog_base.html" %}
{% load comments %}
{% load markup %}


{% block body_id %}
    <body>
{% endblock %}

{% block content-body %}
        <div class="content-body">
            <div class="container">
                {% block blog_header %}{% endblock %}
                <div class="row">
                    <main class="col-md-12">
                    {% for blog in blogs %} 
                        <article class="post post-1">
                            <header class="entry-header">
                                <h1 class="entry-title">
                                    <a href="{% url 'detailblog' blog.id %}">{{ blog.caption }}</a>
                                </h1>
                                <div class="entry-meta">
                                    <!-- <span class="post-category"><a href="#">Web Design</a></span> -->
                                    <p class="muted">  
                                        {% for tag in blog.tags.all %}
                                        <i class="post-category"></i>  <small>分类标签：{{ tag }}</small>
                                        {% endfor %}
                                    </p> 
                                    <span class="post-author"><a href="#">作者：{{ blog.author }}</a></span>
                                    <span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09 23:15">时间：{{ blog.publish_time|date:"Y-m-d H:i" }}</time></a></span>
                                    <span class="post-read"><a href="#">{{ blog.read_num }}阅读</a></span>
                                    {% get_comment_count for blog as comment_count %}
                                    <span class="comments-link"><a href="#">{{ comment_count }}评论</a></span>
                                </div>
                            </header>
                            <div class="entry-content clearfix">
                                <p>{{ blog.content|markdown:'codehilite'|striptags|safe|truncatechars:100 }}</p>
                                <div class="read-more cl-effect-14">
                                    <a href="{% url 'detailblog' blog.id %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                                </div>
                            </div>
                        </article>
                        {% endfor %}



    <div class="blog_list_footer">
        <span class="blog_footer_tip">
            共{{pages.count}}篇博文。
            当前第{{blogs.number}}页，
            共{{pages.num_pages}}页
        </span>
 
        <div>
            <ul class="pagination">
                <li>
                    <a href="?page=
                        {% if blogs.has_previous %}
                            {{blogs.previous_page_number}}
                        {% else %}
                            {{blogs.number}}
                        {% endif %}
                    " aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
 
                {% for page in pages.page_range_ex %}
                    {% if page == '...' %}
                        <li><span>...</span></li>
                    {% else %}
                        <li><a href="?page={{page}}">{{page}}</a></li>
                    {% endif %}
                {% endfor %}
 
                <li>
                    <a href="?page=
                        {% if blogs.has_next %}
                            {{blogs.next_page_number}}
                        {% else %}
                            {{blogs.number}}
                        {% endif %}
                    " aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
 
            {# 页码跳转的html代码 #}
            <ul class="pagination">
                <li id="page_goto">
                    <span >
                        <input type="text" value="{{paginator.page_goto}}" />
                    </span>
                </li>
                <li><a href="javascript:void(0);" onClick="page_goto();">Go</a></li>
            </ul>
        </div>
    </div>
 


{% block extra_footer %}
{#设置凸显当前页码#}  
{#页码跳转处理#}
<script type="text/javascript">
    $(".pagination li a").each(function(){
        if($(this).text()=="{{blogs.number}}"){
            $(this).parent().addClass("active");
        }
    });
 
    
    function page_goto(){
        var page = $("#page_goto input")[0].value;
        window.location.href = '?page=' + page;  //重定向
        return false;
    }
</script>
 
<style type="text/css">
    {#页码跳转的显示样式#}
    #page_goto span{
        padding: 6px 4px;
    }
    #page_goto input{
        border: none;
        padding: 0;
        width: 2em;
        text-align: center;
    }
</style>
{% endblock %}


                    </main>
                </div>
            </div>
        </div>
{% endblock %}
