{% extends "blog_base.html" %}
{% load comments %}

{% block title %} {{ blog.caption }} {% endblock %}


{% block content-body %}
<div class="content-body">
    <article class="content-main">
    {% block article_title %}
        <h2>{{ blog.caption }}</h2>
    {% endblock %}
    <p class="muted">  
        {% for tag in blog.tags.all %}
        <i class="post-category"></i>  <small>分类标签：{{ tag }}</small>
        {% endfor %}
    </p> 
    <p class="muted">
        <span class="post-author"><a href="#">作者：{{ blog.author }}</a></span>
        <span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">时间：{{ blog.publish_time|date:"Y-m-d H:i" }}</time></a></span>
        <span class="post-read"><a href="#">{{ blog.read_num }}阅读</a></span>
                                    {% get_comment_count for blog as comment_count %}
        <span class="comments-link"><a href="#">{{ comment_count }}评论</a></span>
    </p>
    <section>
        <div class="blog-content">
            {% block article_content %}
                {{ blog.content }}
            {% endblock %} 
        </div>
    </section>
    <hr>
    <p class="muted">  
                <a href="{% url 'delblog' blog.id %}" title="delete"><i class="icon-trash">删除</i></a>
                <a href="{% url 'updateblog' blog.id %}" title="edit"><i class="icon-edit">编辑</i></a>
                <a href="{% url 'showcomment' blog.id %}" title="comment"><i class=" icon-comment"></i>评论</a>
    </P>
    </article>
    </hr>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>评论列表</h4>
    </div>
 
    <div class="panel-body">
        {% get_comment_list for blog as comments %}
        {% for comment in comments %}
            <div class="blog_comment" name="F{{comment.id}}">
                <p class="comment_title">
                    #{{ comment.submit_date|date:"Y-m-d H:i"}} @ {{ comment.user_name }}：
                </p>
                <p class="comment_content"
                    root='{{comment.id}}'
                    role='{{comment.id}}'
                    base='{{comment.user_name}}'>
                    {{ comment.comment }}
                </p>
                <ul class="comment_reply">
                    {% for reply in comment.replies %}
                        <li root='{{reply.root_id}}'
                            role='{{reply.id}}'
                            base='{{reply.user_name}}'>
                            {{reply.user_name}} 回复 {{reply.reply_name}} ({{ reply.submit_date|date:"Y-m-d H:i"}})：{{ reply.comment }}
                        </li>
                    {% endfor %}
                </ul>                
            </div>            
        {% empty %}
            <span>暂无评论</span>
        {% endfor %}
    </div>
</div>  


<div class="panel panel-default">
<div id="comment_form">
<h4>我有话说</h4>
{% if user.is_superuser %}
    {% if user.is_active %}
{% get_comment_form for blog as blog_form %}
<form id="comment_form" 
      class="form-horizontal" 
      action="{% comment_form_target %}" 
      method="post"
>
    {% csrf_token %}
 
    {# 必须的字段 #}
    {{ blog_form.object_pk }}
    {{ blog_form.content_type }}
    {{ blog_form.timestamp }}
    {{ blog_form.site }}
    {{ blog_form.submit_date }}
    {{ blog_form.security_hash }}
 
    {# 用户名字段，这个后面会修改为登录用户评论，无需填这个 #}
    <div class="control-group">
        <label class="control-label" for="id_name">名称： </label>
        <div class="controls">
            <input type="text" 
                   id="id_name" class="input-xlarge" name="name" 
                   placeholder="请输入您的用户名" 
                   value="{{ user.username }}" />
        </div>
    </div>
 
    {# 邮箱地址字段 #}
    <div class="control-group">
        <label class="control-label" for="id_email">邮箱： </label>
        <div class="controls">
            <input type="email"
                   id="id_email" class="input-xlarge" name="email" 
                   placeholder="请输入您的邮箱地址" 
                   value="{{ user.email }}" />
        </div>
    </div>
 
    {# 评论内容 #}
    <a name="newcomment" id="newcomment"></a>
    <div class="control-group">
        <label class="control-label" for="id_comment">评论： </label>
        <div class="controls">
            <textarea rows="6" 
                      id="id_comment" class="input-xlarge comment" name="comment" 
                      placeholder="请输入评论内容">
            </textarea>
        </div>
    </div>
 
    {# 防垃圾评论 #}
    <p style="display:none;">
        <label for="id_honeypot">如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论。</label>
        <input type="text" name="honeypot" id="id_honeypot">
    </p>
 
    {# 表单按钮 #}
    <div class="controls">
        <div class="form-actions">
            <input class="btn btn-info" id="submit_btn" type="submit" name="submit" value="发布"/>
            {# 作用是提交完表单后跳转的页面 #}
            <input type="hidden" name="next" value="{%url 'detailblog' blog.id%}"/>
        </div>
    </div>
 </form>
    {% else %}
        您尚未激活，请先激活您的账户才能评论。(避免垃圾评论)
    {% endif %}
{% else %}
    您尚未登录，请先登录才能评论。(可以通过邮件得到评论提醒)
{% endif %}

</div>
</div>  


<div id="in_nav">
<p>
    {% if pre_blog %}
        <a href="{% url 'detailblog' pre_blog.id %}" title="">上一篇：{{pre_blog.caption}}</a> 
    {% else %}
        上一篇：没有了
    {% endif %}
</p>
<p>
    {% if next_blog %}
        <a href="{% url 'detailblog' next_blog.id %}" title="">下一篇：{{next_blog.caption}}</a> 
    {% else %}
        下一篇：没有了
    {% endif %}
</p>
</div>




<div id="reply_form" style="display:none;text-indent:0;">
    <!--这里需要get_comment_form 这句话，若前面评论部分你有定义就结合一下修改-->
    {% get_comment_form for blog as blog_form %} 
    <form action="#" id="reply_update_form">
        {% csrf_token %}
        {{ blog_form.object_pk }}
        {{ blog_form.content_type }}
        {{ blog_form.timestamp }}
        {{ blog_form.site }}
        {{ blog_form.submit_date }}
        {{ blog_form.security_hash }}
        <input type="hidden" name="next" value="{%url 'detailblog' blog.id%}"/>
        <input id="reply_to" type="hidden" name="reply_to" value="0" />
        <input id="root_id" type="hidden" name="root_id" value="0" />
        <input id="reply_name" type="hidden" name="reply_name" value="">
 
        <div class="row">
            <div class="col-md-12">
                <textarea class="input-xlarge comment_text" id="id_comment_reply" name="comment" placeholder="请输入回复内容"></textarea>
 
                {# 防垃圾评论 #}
                <p style="display:none;">
                    <label for="id_honeypot">如果你在该字段中输入任何内容，你的评论就会被视为垃圾回复。</label>
                    <input type="text" name="honeypot" id="id_honeypot_reply">
                </p>
                <!--如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论-->
                <!-- <input type="text" style="display:none;" id="id_honeypot_reply" name="honeypot"> -->
            </div>
        </div>
 
        <div class="row">
              <div class="form-actions comment_button">
                <input class="btn btn-info" id="submit_reply" type="submit" name="submit" value="回复"/>
                <input class="btn" id="reset_btn" type="reset" name="submit" value="清空"/>
              </div>
        </div>
    </form>
</div>

{% endblock %}






{% block script %}
{# 设置提交评论 #}
<script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
        $('#comment_form').submit(function() {
            if ($("#id_honeypot").val().length!=0) {
                        alert("Stop!垃圾评论");
                        return false;
            };
            if ($("#id_name").val().length==0) {
                        alert("Error:请输入您的用户名");
                        $("#id_name").focus();
                        return false;
            };
            if ($("#id_email").val().length==0) {
                        alert("Error:请输入您的邮箱地址");
                        $("#id_email").focus();
                        return false;
            };
 
            var email=$("#id_email").val();
            if(!email.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/)){
                alert("Error:邮箱不正确！请重新输入");
                $("#id_email").focus();
                return false;
            }
 
            if ($("#id_comment").val().length==0){
                alert("Error:请输入您的评论");
                $("#id_comment").focus();
                return false;
            };
 
            $("#id_timestamp").value=event.timeStamp;

            $.ajax({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                type: "POST",
                data: $('#comment_form').serialize(),
                url: "{% comment_form_target %}",
                cache: false,
                dataType: "html",
                success: function(html, textStatus) {
                    window.location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("评论出错，" + errorThrown);
                }
            });
            return false;
            });


//绑定回复提交事件
$('#reply_update_form').submit(function() {
    if ($("#id_honeypot_reply").val().length!=0) {alert("Stop!垃圾评论");return false;};
    if ($("#id_comment_reply").val().length==0) {alert("Error:请输入您的回复内容");$("#id_comment").focus();return false;};
 
    // $("#id_timestamp").val(event.timeStamp);
 
    $.ajax({
        // beforeSend: function(xhr, settings) {
        //     if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        //         xhr.setRequestHeader("X-CSRFToken", csrftoken);
        //     }
        // },
        type: "POST",
        data: $('#reply_update_form').serialize(),
        url: "{% comment_form_target %}",
        cache: false,
        dataType: "json",
        success: function(json, textStatus) {
            if(json['success']){
                window.location.reload();
            }else{
                if(json['code']==501){
                    alert('您尚未登录，请先登录才能评论。');
                }else if(json['code']==502){
                    alert('您尚未激活，请先激活您的账户才能评论。');
                }else{
                    alert('评论出错，请刷新重试\n'+json['message']);
                }
            }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert("评论出错\n请检查是否登录了或者刷新试试\n" + errorThrown);
        }
    });
    return false;
});
 
//绑定回复按钮的鼠标经过事件
$(".comment_content,.comment_reply li").each(function(){
    $(this).hover(function(){
        $(this).append("<span class='reply_button'> <a href='javascript:void(0);' onclick='reply_click(this);'>回复</a></span>");
    },function(){
        $(this).children(".reply_button").remove();
    });
});

});


 
//回复按钮点击触发的方法
function reply_click(obj){
    //获取回复按钮对应的评论或回复（DOM转成jQuery对象）
    var comment=obj.parentElement.parentElement;
    var $c=$(comment);
    //获取相关信息
    var root=$c.attr("root");
    var role=$c.attr("role");
    var base=$c.attr("base");
 
    //显示回复面板
    $("#reply_form").hide();
    $c.after($("#reply_form"));
    $("#reply_form").slideDown(200);
 
    //设置回复表单相关值
    $("#reply_to").val(role);
    $("#root_id").val(root);
    $("#reply_name").val(base);
    return false;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

</script> 
{% endblock %}